<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/97d75ae990.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/head-footer.css">
    <link rel="stylesheet" href="../style/tables.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="icon">
            <i class="fas fa-heart fa-3x" aria-hidden="true"></i>
            <p>Children's health</p>
        </div>

        <div class="links">
            <div class="menu">
                <a href="./index.html">Home</a>
                <a href="robos.html">Robôs</a>
                <a href="jogos.html" class="red">Jogos</a>
                <a href="form.html">Formulário</a>
            </div>
        </div>
    </header>


    <div class="all">
        <div class="centralizar">
            <div class="container">

                <div class="image">
                    <img src="../../img/pkxd.jpeg" alt="cachorro">
                </div>
                
                <table>
    
                    <tr>
                    <th>
                        Pk xd
                        <br>
                        <br>
                    </th>
                    </tr>
    
                    <tr>
                        <td>
                            <p class="align text">
                                O pk xd é um jogo voltado para o público infantil, podendo ser assimilado até como uma rede social, por conta da interação que existe dentro do jogo. Nele as crianças se comunicam com pessoas do mundo todo, através do algorítmo dele a tradução é feita em tempo real, possibilitando que elas tenham novas experiências. Dentro do jogo é possível construir sua casa, customizar seu personagem, tirar fotos e postar da rede social dentro do próprio jogo - lembrando que as fotos são os próprios personagens que tiram, o app em si não possibilita expor a criança -, fazendo com que a criança use sua criatividade para melhorar seu personagem. É uma ótima opção para recreação e lazer deles.
                            </p>
                            
                            <br>
                            <br>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <p class="align">
                                https://www.cissamagazine.com.br/blog/melhores-aplicativos-para-criancas
                            </p>
                            
                        </td>
                    </tr>
    
                </table>
            </div>

            <div class="container mb-top">
                <table>
    
                    <tr>
                    <th>
                        Write my name
                        <br>
                        <br>
                    </th>
                    </tr>
    
                    <tr>
                        <td>
                            <p class="align">
                                Write My Name é um aplicativo que busca captar o interesse das crianças pela escrita através do meio digital. O app ensina-os a escrever o próprio nome e também mais de 100 palavras. Essa faixa etária (5-7 anos) é o período ideal para que as crianças aprendam a escrever e a ligar as palavras, portanto, é uma ótima opção de aplicativo educacional.
                            </p>
                            
                            <br>
                            <br>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <p class="align">
                                https://andrebona.com.br/aplicativos-educativos-para-criancas-5-opcoes-para-brincar-e-aprender/
                            </p>
                            
                        </td>
                    </tr>
    
                </table>

                <img class="esquerda" src="../../img/write.png" alt="cachorro">
            </div>
        </div>
    </div>


    <footer>
        <p>Developed by Levi Ciarrocchi | RM: 86801| 2021</p>
    </footer>
</body>
</html>