<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/97d75ae990.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/head-footer.css">
    <link rel="stylesheet" href="../style/tables.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robôs</title>
</head>
<body>
    <header>
        <div class="icon">
            <i class="fas fa-heart fa-3x" aria-hidden="true"></i>
            <p>Children's health</p>
        </div>

        <div class="links">
            <div class="menu">
                <a href="./index.html" >Home</a>
                <a href="robos.html" class="red">Robôs</a>
                <a href="jogos.html">Jogos</a>
                <a href="form.html">Formulário</a>
            </div>
        </div>
    </header>

    <div class="all">
        <div class="centralizar">
            <div class="container">

                <div class="image">
                    <img src="../../img/cachorro.jpg" alt="cachorro">
                </div>
                
                <table>
    
                    <tr>
                    <th>
                        Cão Inteligente
                        <br>
                        <br>
                    </th>
                    </tr>
    
                    <tr>
                        <td>
                            <p class="align">
                                Os Cães Inteligentes são uma ótima opção para crianças que desejam ter seu primeiro contato com a tecnologia. São robôs que simulam os comportamentos de cachorros, aproximando ainda mais a nova geração de interagir com a tecnologia, já que os cães geralmente são grandes companheiros para os pequeninos.
                            </p>
                            
                            <br>
                            <br>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <p class="align">
                                https://blog.iclinic.com.br/tendencias-de-tecnologia-na-area-da-saude/
                            </p>
                            
                        </td>
                    </tr>
    
                </table>
            </div>

            <div class="container mb-top">
                <table>
    
                    <tr>
                    <th>
                        Cozmo Robot
                        <br>
                        <br>
                    </th>
                    </tr>
    
                    <tr>
                        <td>
                            <p class="align">
                                Cozmo é um robô “smart” que tem personalidade própria. Ele vem equipado com sensores e uma inteligência artificial que são capazes de reconhecer pessoas, objetos e muito mais. Ele é capaz de tomar suas próprias decisões e aprender novos comandos, como girar, empilhar caixas e até mesmo derrubá-las. É um robô muito divertido que atrai as crianças  pelo seu modo de gamificação e aprendizado.
                            </p>
                            
                            <br>
                            <br>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <p class="align">
                                https://www.totvs.com/blog/inovacoes/inteligencia-artificial/
                            </p>
                            
                        </td>
                    </tr>
    
                </table>

                <img class="esquerda" src="../../img/cozmo.jpg" alt="cachorro">
            </div>
        </div>
    </div>
    

    
    


    <footer>
        <p>Developed by Levi Ciarrocchi | RM: 86801| 2021</p>
    </footer>
</body>
</html>