<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/97d75ae990.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style/head-footer.css">
    <link rel="stylesheet" href="../style/tables.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="icon">
            <i class="fas fa-heart fa-3x" aria-hidden="true"></i>
            <p>Children's health</p>
        </div>

        <div class="links">
            <div class="menu">
                <a href="/src/views/index.html" >Home</a>
                <a href="robos.html" class="red">Robôs</a>
                <a href="jogos.html">Jogos</a>
                <a href="form.html">Formulário</a>
            </div>
        </div>
    </header>

    <div class="middle fundo-blue">
    </div>


    <footer>
        <p>Developed by Levi Ciarrocchi | RM: 86801| 2021</p>
    </footer>
</body>
</html>